extends layout

block content
    .container
        h1
          span
          |  Add Venue

        if (message)
          .alert.alert-danger #{message}
          
        // Venues CREATE FORM
        form
          .form-group
            label Name
            input#newVenueName.form-control(type='text', name='newVenueName')
          .form-group
            label Category
            input#newVenueCategory.form-control(type='text', name='newVenueCategory')
          button#addVenueButton.btn.btn-warning.btn-lg(type='submit') Create
        hr
        h1
          span
          |  Add Race

        if (message)
          .alert.alert-danger #{message}
          
        // Races CREATE FORM
        form
          .form-group
            label Name
            input#newRaceName.form-control(type='text', name='name')
          button#addRaceButton.btn.btn-warning.btn-lg(type='submit') Create
        hr
        h1
          span
          |  Edit Race

        div.list-group
            each race, i in results.races
                a.list-group-item(href='#', onclick='document.getElementById("editRace").value = this.innerHTML')= race.name
                
        // Races EDIT FORM
        form(action='', method='put')
          .form-group
            label Name
            input#editRaceName.form-control(type='text', name='name')
            input#editRaceVenue.form-control(type='text', name='venue')
          button#editRaceButton.btn.btn-warning.btn-lg(type='submit') Edit
          
          div.testClass