extends layout

block content
    .container
        div.col-md-4
          h1
            span
            |  Add Race

          if (message)
            .alert.alert-danger #{message}
            
          // Races CREATE FORM
          form
            .form-group
              label Name
              input#newRaceName.form-control(type='text', name='name')
            button#addRaceButton.btn.btn-warning.btn-lg(type='submit') Create
          hr
          h1
            span
            |  Edit Race

          label Races
          div#editRaceList.list-group
                  
          label Joined Participants
          div#raceParticipantList.list-group
                  
          // Races EDIT FORM
          form
            .form-group
              label Name
              input#editRaceName.form-control(type='text', name='name')
              button#editRaceButton.btn.btn-warning.btn-lg(type='submit') Edit
              button#deleteRaceButton.btn.btn-danger.btn-lg(type='submit') Delete
              button#joinRaceButton.btn.btn-primary.btn-lg(tpe='submit') Join
              button#leaveRaceButton.btn.btn-danger.btn-lg(type='submit') Leave
              hr
              Label assigned venues
              input#editRaceVenueInput.form-control(type='text', name='newVenueId')
            button#editRaceAddVenueButton.btn.btn-warning.btn-lg(type='submit') Add this Venue
            hr
        div.col-md-4
          h1
            span
            |  Add Venue

          if (message)
            .alert.alert-danger #{message}
            
          // Venues CREATE FORM
          form
            .form-group
              label Name
              input#newVenueName.form-control(type='text', name='newVenueName')
            .form-group
              label Category
              input#newVenueCategory.form-control(type='text', name='newVenueCategory')
            button#addVenueButton.btn.btn-warning.btn-lg(type='submit') Create
          hr
          h1
            span
            |  Edit Venue

          input#venueFilter.form-control(type='text', name='venueFilter')
          button#searchVenueButton.btn.btn-warning.btn-lg(type='submit') Search
          div#editVenueList.list-group
          button#leftEditVenueVenueButton.btn.btn-secondary.btn-lg(type='submit') previous page
          button#rightEditVenueVenueButton.btn.btn-secondary.btn-lg(type='submit') next page
                  
          // Venues EDIT FORM
          form
            .form-group
              label Name
              input#editVenueName.form-control(type='text', name='name')
              input#editVenueCategory.form-control(type='text', name='category')
            button#editVenueButton.btn.btn-warning.btn-lg(type='submit') Edit
            button#deleteVenueButton.btn.btn-danger.btn-lg(type='submit') Delete
          hr