extends layout

block content
    a(href='/venues').
        go to venues
    h1.
        Race List
    table.table.table-bordered
        each race in races
            tr
                td
                    a(href='/races/'+race.name)= race.name