extends layout

block content
    a(href='/races').
        go to races
    h1.
        Venue List
    table.table.table-bordered
        each venue, index in results
            tr
                td
                    a(href='/venues/'+venue.name+'')= venue.name
    
    